
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" />    
</head>
<body>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Adı</th>
                    <th>Durum</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>1</td>
                        <td>Kategori Adı</td>
                        <td>Kategori Durumu</td>
                        <td></td>
                    </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
