<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Adı</td>
            <td>Açıklama</td>
            <td>Durum</td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td>Kategori 1</td>
            <td>Açıklama 1</td>
            <td>true</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Kategori 2</td>
            <td>Açıklama 2</td>
            <td>false</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Kategori 3</td>
            <td>Açıklama 3</td>
            <td>true</td>
        </tr>
    </tbody>
</table>