
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    @Html.Partial("Partial/_ContentHeader")
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <h2>Index</h2>
            <button class="btn btn-info" data-toggle="modal" data-target="#addAboutModal">Hakkımızda Veri Girişi</button>
            <div class="modal" id="addAboutModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">
                                Hakkımızda Kayıt Ekleme
                            </h2>
                        </div>
                            <form method="post" action="#">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Hakkımda Metin 1</label>
                                        <input type="text" class="form-control" name="">
                                    </div>
                                    <div class="form-group">
                                        <label>Hakkımda Metin 2</label>
                                        <input type="text" class="form-control" name="">
                                    </div>
                                    <div class="form-group">
                                        <label>Hakkımda Görsel 1</label>
                                        <input type="text" class="form-control" name="">
                                    </div>
                                    <div class="form-group">
                                        <label>Hakkımda Görsel 2</label>
                                        <input type="text" class="form-control" name="">
                                    </div>
                                    <button class="btn btn-success">Kaydet</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>