@using Entities.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    @Html.Partial("Partial/_ContentHeader")
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <h2>Listeleme</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Hakkımızda</th>
                        <th>Aktif Yap</th>
                        <th>Pasif Yap</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var about in Model)
                    {
                    <tr>
                        <td>@about.Id</td>
                        <td>Başlık</td>
                        <td><a href="" class="btn btn-success">Aktif Yap</a></td>
                        <td><a href="" class="btn btn-danger">Pasif Yap</a></td>

                    </tr>
                    }
                </tbody>
            </table>
          @Html.Action("PartialAdd", "About")
        </div>
    </div>
</div>